<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <%- include('../includes/error-flash-message.ejs') %>
        <% if (typeof product !== 'undefined') {
            console.log(product)
        } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" enctype="multipart/form-data" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>" type="text" name="title" id="title" value="<% if (editing || hasError) { %><%=product.title%><% } %>">
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
            </div>
            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>" type="text" name="imageUrl" id="imageUrl" value="<% if (editing || hasError) { %><%=product.imageUrl%><% } %>">
            </div> -->
            <div class="form-control">
                <label for="price">Price</label>
                <input class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>" type="number" name="price" id="price" step="0.01" value="<% if (editing || hasError) { %><%=product.price%><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>" name="description" id="description" rows="5"><% if (editing || hasError) { %><%=product.description%><% } %></textarea>
            </div>
            <div class="form-control">
                <label for="caliber">Caliber</label>
                <input class="<%= validationErrors.find(e => e.param === 'caliber') ? 'invalid' : '' %>" type="text" name="caliber" id="caliber" value="<% if (editing || hasError) { %><%=product.caliber%><% } %>">
            </div>
            <div class="form-control">
                <label for="magCapacity">Magazine Capacity</label>
                <input class="<%= validationErrors.find(e => e.param === 'magCapacity') ? 'invalid' : '' %>" type="number" name="magCapacity" id="caliber" value="<% if (editing || hasError) { %><%=product.magCapacity%><% } %>">
            </div>
            <div class="form-control">
                <label for="barrelLength">Barrel Length</label>
                <input class="<%= validationErrors.find(e => e.param === 'barrelLength') ? 'invalid' : '' %>" type="text" name="barrelLength" id="barrelLength" value="<% if (editing || hasError) { %><%=product.barrelLength%><% } %>">
            </div>
            <div class="form-control">
                <label for="action">Action Type / System</label>
                <input class="<%= validationErrors.find(e => e.param === 'action') ? 'invalid' : '' %>" type="text" name="action" id="action" value="<% if (editing || hasError) { %><%=product.action%><% } %>">
            </div>
            <div class="form-control">
                <label for="weight">Dry Weight</label>
                <input class="<%= validationErrors.find(e => e.param === 'weight') ? 'invalid' : '' %>" type="text" name="weight" id="weight" value="<% if (editing || hasError) { %><%=product.weight%><% } %>">
            </div>
            <% if (editing) { %>
                <input type="hidden" name="productId" value="<%= product._id %>">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>